<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <!-- Path to features list-->
    <add key="FeaturesListPath" value="FeaturesList.txt" />
    <!-- Path to test results folder -->
    <add key="ResultsFolder" value="E:\..\..\..\..\TestResults" />
    <!-- Test results extension -->  
    <add key="FilesExtension" value=".trx" />
    <!-- Screenshots archives extension -->  
    <add key="ScreenshotsExtension" value=".zip" />
    </appSettings>
</configuration>